In [42]:
import pandas as pd
import pickle as pkl

In [43]:
with open(r'C:\Users\santi\IA\3 Bimestre\Eze\aprendizaje_maquina_II\TP_Integrador\model.pkl', 'rb') as model_file:
    model_nuevo = pkl.load(model_file)
with open(r'C:\Users\santi\IA\3 Bimestre\Eze\aprendizaje_maquina_II\TP_Integrador\src\.modelo_orig.pkl', 'rb') as model_file:
    modelo_original = pkl.load(model_file)
df=pd.read_csv(r"C:\Users\santi\IA\3 Bimestre\Eze\aprendizaje_maquina_II\TP_Integrador\data\Transformed\Test_BigMart_Prepared.csv",sep=";")

In [44]:
df_predicciones_originales=df
df_predicciones_nuevas=df

In [45]:
predicciones_originales = modelo_original.predict(df_predicciones_originales)
predicciones_nuevas = model_nuevo.predict(df_predicciones_nuevas)

In [46]:
df_predicciones_originales["predicciones"]=predicciones_originales
df_predicciones_nuevas["predicciones"]=predicciones_nuevas

In [47]:
df_predicciones_originales.head()

,Item_Weight,Item_Visibility,Item_MRP,Outlet_Establishment_Year,Outlet_Size,Outlet_Location_Type,Outlet_Type_Grocery Store,Outlet_Type_Supermarket Type1,Outlet_Type_Supermarket Type2,Outlet_Type_Supermarket Type3,predicciones
0,20.750,0.007565,2,21,1,2,0,1,0,0,1987.781419
1,8.300,0.038428,1,13,0,1,0,1,0,0,1095.116437
2,14.600,0.099575,4,22,0,0,1,0,0,0,1621.418470
3,7.315,0.015388,3,13,0,1,0,1,0,0,2764.045122
4,13.600,0.118599,4,35,1,0,0,0,0,1,4932.449568

In [48]:
df_predicciones_nuevas.head()

,Item_Weight,Item_Visibility,Item_MRP,Outlet_Establishment_Year,Outlet_Size,Outlet_Location_Type,Outlet_Type_Grocery Store,Outlet_Type_Supermarket Type1,Outlet_Type_Supermarket Type2,Outlet_Type_Supermarket Type3,predicciones
0,20.750,0.007565,2,21,1,2,0,1,0,0,1987.781419
1,8.300,0.038428,1,13,0,1,0,1,0,0,1095.116437
2,14.600,0.099575,4,22,0,0,1,0,0,0,1621.418470
3,7.315,0.015388,3,13,0,1,0,1,0,0,2764.045122
4,13.600,0.118599,4,35,1,0,0,0,0,1,4932.449568

In [49]:
df_original = df
df_original["predictions"] = predictions